 @import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #101828;
}
header .logo {
    position: relative;
    max-width: 70px;
}
header .navigation a {
    color: #fcfcfc;
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
    transition-property: background;

}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover {
    background: #fff;
    color: #101828;
}
.content {
    position: relative;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.content .textBox {
    position: relative;
    max-width: 500px;
}
.content .textBox h2 {
    color: #0052FC;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 20px;
}
.content .textBox h2 span {
    color: #101828;
    font-weight: 700;
}
.content .textBox p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.content .textBox a {
    color: #fff;
    background: #0052FC;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 12px 24px;
    border-radius: 40px;
    transition: 0.3s;
    transition-property: background;
}
.content .textBox a:hover{
    background: #07245c;
}
.content .imgBox img {
    width: 100%;
    min-width: 350px;
}
.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.media-icons a {
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover {
    transform: scale(1.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

/************ Features section **************/
.feature{
    background: #101828;
    color: #fcfcfc;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: auto auto;
}

.sub-feature {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sub-feature img {
    width: 50%;
    height: 150px;
}
.sub-feature .textBox h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}
.sub-feature .textBox p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

/***Responsive styles****/

@media (max-width: 960px) {
    header .navigation {
        display: none;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: #fff;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color: #1f4a9f;
    }

    label .close-btn {
        display: none;
    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(114, 223, 255, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn {
        display: none;
    }
    #check:checked ~ header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;
    }
    .content .textBox h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .content .textBox h2 span{
        font-size: 40px;
        font-weight: 700;
    }
    .content .textBox p {
        font-size: 16px;
    }
    .sub-feature .textBox h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .sub-feature .textBox p {
        font-size: 14px;
    }

}
@media (max-width: 850px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .content .textBox{
        width: 100%;
    }
    .content .imgBox img{
        width: 100%;
    }
    .feature {
        display: grid;
        grid-template-columns: auto;
    }

    .sub-feature {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-feature .textBox h3 {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .sub-feature .textBox p {
        font-size: 14px;
    }
}

@media (max-width: 560px){
    .content .textBox h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .content .textBox h2 span{
        font-size: 30px;
        font-weight: 700;
    }
    .content .textBox p {
        font-size: 14px;
    }
}